
.custom-radio1 {
  padding: 0.5rem;
  input[type="radio"] {
    display: none;
  }

  label {
    cursor: pointer;
    position: relative;
    font-size: 1rem;
  }

  label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #153BF1;
    border-radius: 50%;
    top: 50%;
    left: -2.5rem;
    transform: translateY(-50%);
    transition: border-color 400ms ease;
  }

  label::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000146;
    border: 2px solid #000146;
    border-radius: 50%;
    top: 50%;
    left: -2.5rem;
    transform: translateY(-50%) scale(0);
    transition: transform 400ms ease;
  }

  input[type="radio"]:checked + label::before {
    border-color: #000146;
  }

  input[type="radio"]:checked + label::after {
    transform: translateY(-50%) scale(0.55);
  }
}