.slider-view {
  display: flex;
  border: 1px solid black;
  max-width: 20rem;
  max-height: 50rem;
  padding: 1rem;
  overflow: hidden;
  position: relative;
}

.slider-display {
  max-height: 300px;
  // max-width: 500px;  
  max-width: 20rem;;
  position: relative;
  top: 50%;
  border-radius: 0.63rem;
  display: flex;
  overflow: hidden;  

  .slider-item {
    min-height: 400px;
    position: relative;    
    left: 2rem;
    min-width: 20rem;
    background-position: center;
    background-size: cover;
    padding: 0;
    transition: all 2s;
  }
}

.slider-summary {
  position: absolute;
  left: -2rem;
  width: 100%;
}