@forward 'modal.scss';

.modal-header {
  font-family: 'Montserrat', sans-serif;
  color: #1f1f1f;
  font-size: 1.25rem;
  border-bottom: 0.06rem solid #1f1f1f;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.modal-details {
  font-family: 'Montserrat', sans-serif;
  color: #1f1f1f;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}